{% extends 'base.html' %}
{% load static %}
{% block content %}


<br>
<br>


<div class="container mb-5 p-5" style="width: 500pc; height: 500px ; border: 1px solid; background-image: url({% static 'assets/img/tourism.jpg' %}); background-repeat:no-repeat;background-size: cover;">
    <h1 style="  display: flex; align-content: centre;">Welcome to </h1>
    <h1><strong> Paradise </strong></h1>
</div>
<div class="container" style=" padding-left:10px;">
  <table>
  <tr>
    {% for data in page %}
    <td>
       <div class="card" style="width: 18rem; margin-left:50px;">
          <img class="card-img-top" src="{{ data.Destination_Img }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ data.PlaceName }}</h5>
            <hr>
            <p class="card-text">State : {{ data.State }}</p>
            <p class="card-text">District : {{ data.District }}</p>
            <a href="{% url 'detail' data.id %}" class="btn btn-primary">Know More</a>
          </div>
      </div>
    </td>
    {% endfor %}
  </tr>
</table>
</div>


<div class="container" style=" padding-left:550px;">
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for num in page.paginator.page_range %}
    <li class="page-item {% if page.number == num %}activate{% endif %} ">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
    {% endfor %}
    <li class="page-item">

      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>



{% endblock %}